<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in page </title>
</head>
<body>
<form action="signUpInformation" method="post">

  <div class="container">
    <label ><b>Username</b></label> <br/>
    <input type="text" placeholder="Enter Username" name="userId" required> <br/>

    <label ><b>Password</b></label> <br/>
    <input type="password" placeholder="Enter Password" name="password" required> <br/>

    <button type="submit">Login</button>

  </div>
</form>

</body>
</html>